<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>839137971314-ickfhmbpjvh11s8dl28nfnpvo14rr1rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839137971314-ickfhmbpjvh11s8dl28nfnpvo14rr1rd</string>
	<key>API_KEY</key>
	<string>AIzaSyDDMgOocUcSEd-tdZIxDFeLKu6tRnyjPAY</string>
	<key>GCM_SENDER_ID</key>
	<string>839137971314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BheefanProduction.LynxBusiness</string>
	<key>PROJECT_ID</key>
	<string>lynxapp-fd13f</string>
	<key>STORAGE_BUCKET</key>
	<string>lynxapp-fd13f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:839137971314:ios:34e2f3f1f9f6e2d6</string>
	<key>DATABASE_URL</key>
	<string>https://lynxapp-fd13f.firebaseio.com</string>
</dict>
</plist>